.panel.panel-info(ng-show="group.selectedGroup")
    .panel-heading
        .row
            .col-sm-3
                h3.panel-title {{group.selectedGroup.name}}
            .col-sm-9
                .btn-toolbar.pull-right
                    .btn-group
                        a.btn.btn-default.btn-sm(ng-click='emergencyMessage()'): em.text-danger Emergency Message
                        a.btn.btn-default.btn-sm(ng-click='groupTicker()'): em.text-danger Group Ticker
                        a.btn.btn-default.btn-sm(ng-click='displaySet()'): em.text-danger Group Settings
                    .btn-group
                        a.btn.btn-success.btn-sm(ng-disabled="!group.selectedGroup.playlists.length",ng-click='deploy()') Deploy to {{group.selectedGroup.name}}
                        | &nbsp;
                        br
                        .checkbox-inline
                            label
                                input(type="checkbox",ng-model="group.selectedGroup.loadPlaylistOnCompletion")
                                small.text-info Change at the end<br> of current cycle
                    .btn-group
                        a.btn.btn-warning.btn-sm.pull-right(ng-click="closeWindow()") Close
    .panel-body
        form(role='form',name='deployform',as-sortable="sortable.options",ng-model="sortable.playlistArray")
            .row.form-group
                label.control-label.col-sm-3 Default Playlist for the group
                .col-sm-5
                    select.form-control(ng-model="group.selectedGroup.playlists[0].name",
                                            ng-options="pl for pl in playlist.playlistNames track by pl",
                                            ng-change="updateGroup()")
                            option(value="") --
                .col-sm-4
                    .checkbox
                        label
                            input(type="checkbox",title="Default playlist assets will be played along with selected playlist",
                                            ng-model="group.selectedGroup.combineDefaultPlaylist")
                            small Play together with scheduled playlist (v1.7.0+)
            .row.form-group(ng-show="group.selectedGroup.playlists[0].name.length")
                h5.col-sm-8 You can select additional Playlists for Scheduling/Advt purposes
                    //a.btn.btn-link(ng-click="collapsed = !collapsed;")
                        i.fa.fa-lg(ng-class="{'fa-chevron-circle-right':collapsed,'fa-chevron-circle-down':!collapsed}")
                    a.btn.btn-info.btn-xs(ng-click="add()")
                        i.fa.fa-lg.fa-plus add
                    span.text-info(ng-show="showMaxErr") &nbsp&nbsp {{'Maximum allowed Playlist Schedules (30)'}}
                .col-sm-4
                    .checkbox
                        label
                            input(type="checkbox",title="Content from all the eligible playlists will be combined",
                            ng-model="group.selectedGroup.playAllEligiblePlaylists")
                            small Combine content of all scheduled playlists

            .row.form-group(ng-repeat='pl in group.selectedGroup.playlists', ng-if="$index > 0",as-sortable-item)
                .col-sm-1.text-right(as-sortable-item-handle)
                    h6   {{$index+'.'}}
                .col-sm-4
                    select.form-control(ng-model="pl.name",style="background:#f8f8f8;",
                                            ng-options="plitems for plitems in playlist.playlistNames track by plitems",
                                            ng-change="updateGroup()")
                        option(value="") --
                .col-sm-6
                    a.btn.btn-link(ng-show="pl.name",ng-click="scheduleCalendar(pl)")
                        i.fa.fa-calendar.fa-lg.text-info
                    small(ng-if='pl.name && !(pl.settings.durationEnable || pl.settings.timeEnable || pl.settings.weekdays.length || pl.settings.monthdays.length)')
                        | Click the icon to Schedule&nbsp;
                    small(ng-if='pl.settings.durationEnable')
                        | {{pl.settings.startdate | date:'MMM d'}} -
                        | {{pl.settings.enddate | date:'MMM d'}} &nbsp&nbsp
                    small(ng-if='pl.settings.timeEnable')
                        | {{pl.settings.starttime | date: 'hh:mm a'}} -
                        | {{pl.settings.endtime | date: 'hh:mm a'}}
                    small
                        | {{weekDaysText[$index]}} &nbsp;&nbsp;
                    small
                        | {{monthDaysText[$index]}} &nbsp&nbsp
                .col-sm-1(ng-show="pl.name.length")
                    a.btn.btn-link(ng-click='delete($index)')
                        i.fa.fa-times.text-danger
        //li.list-group-item
            form
                .form-group
                    label.control-label.col-sm-4.text-muted Add a Playlist to the group
                    .input-group.col-sm-8
                        select.form-control(ng-model="newPlaylistName", ng-options="pl.name as pl.name for pl in playlists")
                            option(value="") -- choose playlist --
                        .input-group-btn
                            button.btn.btn-info(ng-click="add()")
                                i.fa.fa-plus

    //.panel-footer
        button.btn.btn-primary.btn-block(ng-click='deploy()')
            | {{group.playlists.length?"DEPLOY":"Nothing to deploy"}}



