.panel.panel-info
    .panel-heading
        .row
            .col-sm-10
                h5.panel-title {{asset.showAssets.assets.length}}&nbsp;items in&nbsp;
                    | {{asset.showAssets.playlist.name}}&nbsp;
                    span.text-muted &nbsp;(Drag to Add/Remove)
            .col-sm-2
                a.btn.btn-primary.pull-right(ng-click="done()") Done
    ul.list-group(as-sortable="sortable.options",ng-model="asset.showAssets.assets",
                        style="min-height:50px;")
        li.list-group-item(ng-repeat='file in asset.showAssets.assets',
                                    as-sortable-item,style="margin:0px;",
                                    ng-class='{"list-group-item-danger":file.deleted}')
            .row(as-sortable-item-handle)
                .col-sm-2
                    a.pull-right(ng-click='fn.showDetails(file.fileDetails.name)')
                        img.media-object.img-rounded(ng-if='file.fileDetails.thumbnail',ng-src='{{file.fileDetails.thumbnail}}')
                        .letter-box.media-object.img-rounded(ng-if='!file.fileDetails.thumbnail')
                            span(ng-if='file.fileDetails.type == "audio"')
                                i.fa.fa-music
                            span(ng-if='file.fileDetails.type != "audio"')
                                | {{file.fileDetails.type.slice(0,1) || 'N'}}

                .col-sm-10
                    .row
                        .col-sm-8
                            h6 {{file.fileDetails.name }}
                        .col-sm-3
                            h6(ng-if="(!file.playlistDetails || file.playlistDetails.isVideo) && file.fileDetails.duration > 0")
                                strong {{file.fileDetails.duration}} seconds
                            input.form-control.input-sm(ng-if="file.playlistDetails && !file.playlistDetails.isVideo",
                                                                type='number', ng-model='file.playlistDetails.duration',min="5",
                                                                ng-model-options="{ updateOn: 'blur' }",
                                                                ng-change="saveData()")
                        .col-sm-1
                            button.btn.btn-xs.btn-warning(ng-click="removeAsset($index)") X
                    .row(ng-show="asset.showAssets.playlist.layout && asset.showAssets.playlist.layout != '1' && asset.showAssets.playlist.layout != '2ap' && asset.showAssets.playlist.layout != '2ap270'")
                        .col-sm-3
                            label.label(ng-class="{'label-danger':file.playlistDetails.fullscreen,'label-default':!file.playlistDetails.fullscreen}")
                                input(type='checkbox',name='fullscreen', ng-model='file.playlistDetails.fullscreen')
                                span(translate) &nbsp;show fullscreen
                        .col-sm-9
                            span(ng-show="asset.showAssets.playlist.layout != '2bp' && asset.showAssets.playlist.layout != '2bp270'")
                                button.btn.btn-xs.btn-info(ng-click="linkFile(file.playlistDetails,'side')")
                                    span Side Zone:&nbsp; {{file.playlistDetails.side || "Select a file"}}
                                button.btn.btn-xs.btn-warning(ng-if="file.playlistDetails.side",
                                ng-click="removeLinkFile(file,'side')") X
                            span(ng-show="asset.showAssets.playlist.layout != '2a' && asset.showAssets.playlist.layout != '2b' && asset.showAssets.playlist.layout != '2c' && asset.showAssets.playlist.layout != '2d'")
                                button.btn.btn-xs.btn-info(ng-click="linkFile(file.playlistDetails,'bottom')")
                                    span Bottom Zone: {{file.playlistDetails.bottom || "Select a file"}}
                                button.btn.btn-xs.btn-warning(ng-if="file.playlistDetails.bottom",
                                                    ng-click="removeLinkFile(file,'bottom')") X


        li.list-group-item(ng-if="!asset.showAssets.assets.length")
            h4.text-danger Nothing to show, Please Drag Assets to this box


