.panel.panel-info
    .panel-heading
        .row
            .col-sm-10
                h5.panel-title(translate="translate") {{asset.showAssets.assets.length}}&nbsp;items in&nbsp;
                    | {{asset.showAssets.playlist.name}}&nbsp;
                    span.text-muted(translate="translate") &nbsp;(Drag to Add/Remove)
            .col-sm-2
                a.btn.btn-primary.pull-right(ng-click="done()",translate="translate") Done
    ul.list-group(as-sortable="sortable.options",ng-model="asset.showAssets.assets",
                        style="min-height:50px;")
        li.list-group-item(ng-repeat='file in asset.showAssets.assets',
                                    as-sortable-item,style="margin:0px;",
                                    ng-class='{"list-group-item-danger":file.deleted}')
            .row(as-sortable-item-handle)
                .col-sm-2
                    a.pull-right(ng-click='fn.showDetails(file.fileDetails.name)')
                        img.media-object.img-rounded(ng-if='file.fileDetails.thumbnail',ng-src='{{file.fileDetails.thumbnail}}')
                        .letter-box.media-object.img-rounded(ng-if='!file.fileDetails.thumbnail')
                            span(ng-if='file.fileDetails.type == "audio"')
                                i.fa.fa-music
                            span(ng-if='file.fileDetails.type != "audio"')
                                | {{file.fileDetails.type.slice(0,1) || 'N'}}

                .col-sm-10
                    .row
                        .col-sm-8
                            h6 {{file.fileDetails.name }}
                        .col-sm-3
                            //h6(ng-if="(!file.playlistDetails || file.playlistDetails.isVideo) && file.fileDetails.duration > 0")
                                strong {{file.fileDetails.duration}} seconds
                            //input.form-control.input-sm(ng-if="file.playlistDetails && !file.playlistDetails.isVideo",
                            input.form-control.input-sm(
                                                                type='number', ng-model='file.playlistDetails.duration',min="5",
                                                                ng-model-options="{ updateOn: 'blur' }",
                                                                ng-change="saveData()")
                        .col-sm-1
                            button.btn.btn-xs.btn-warning(ng-click="removeAsset($index)") X
                    .row(ng-show="asset.showAssets.playlist.layout && layoutOtherZones[asset.showAssets.playlist.layout].length")
                        .col-sm-3
                            label.label(ng-class="{'label-danger':file.playlistDetails.fullscreen,'label-default':!file.playlistDetails.fullscreen}")
                                input(type='checkbox',name='fullscreen', ng-model='file.playlistDetails.fullscreen')
                                span(translate="translate") &nbsp;show fullscreen
                        .col-sm-9
                            small.text-primary(translate="translate") Add other zone assets
                                span(ng-repeat="zone in layoutOtherZones[asset.showAssets.playlist.layout]")
                                    .btn-group(ng-if="!customZonesPresent || customZonesPresent[zone]")
                                        button.btn.btn-xs.btn-info(ng-click="linkFile(file.playlistDetails,zone)")
                                            small {{zone}}: {{file.playlistDetails[zone]}}&nbsp;
                                            i.fa.fa-paperclip(ng-if="!file.playlistDetails[zone]")
                                        button.btn.btn-xs.btn-warning(ng-if="file.playlistDetails[zone]",
                                                                        ng-click="removeLinkFile(file,zone)") X
                    .row
                        .col-sm-3(ng-show='file.fileDetails.muteButtonEnable')
                            label.btn.btn-link.text-muted(title='mute the audio')
                                input(type='checkbox', ng-model='file.playlistDetails.option.main',ng-model-options="{ debounce: 500 }")
                                span.pl-5(translate="translate") mute audio
                        .col-sm-3(ng-show='file.fileDetails.type == "audio" || file.fileDetails.type == "radio"')
                            label.btn.btn-link.text-muted( title='play in background')
                                input(type='checkbox', ng-model='file.playlistDetails.option.main',ng-model-options="{ debounce: 500 }",
                                ng-true-value="false", ng-false-value="true",
                                ng-checked="file.playlistDetails.option.main !== true")
                                span.pl-5(translate="translate")  play in background
                        .col-sm-3(ng-show='file.fileDetails.type == "image" || file.fileDetails.type == "video"')
                            label.btn.btn-link.text-muted(title='add a text message over image or video')
                                input(type='text', ng-model='file.playlistDetails.option.bannerText',placeholder="text message over the image/video", ng-model-options="{ debounce: 500 }")
                        .col-sm-3(ng-show='file.fileDetails.type == "pdf"')
                            label.btn.btn-link.text-muted(title='use presentation mode')
                                input(type='checkbox', ng-model='file.playlistDetails.option.main',ng-model-options="{ debounce: 500 }")
                                span.pl-5(translate="translate") use presentation mode
                            input.form-control.input-sm(ng-show='file.playlistDetails.option.main',
                            type='number', ng-model='file.playlistDetails.option.subduration',min="1",placeholder="duration for each slide",
                            ng-model-options="{ debounce: 500 }")

                        .col-sm-1.pull-right
                            a.btn.btn-xs.btn-link(title="{{'Duplicate this asset to add multiple times in the playlist'}}", ng-click='makeCopy(file,$index)')
                                i.fa.fa-copy


                        //span(ng-show="asset.showAssets.playlist.layout != '2bp' && asset.showAssets.playlist.layout != '2bp270'")
                        //        button.btn.btn-xs.btn-info(ng-click="linkFile(file.playlistDetails,'side')")
                        //            span Side Zone:&nbsp; {{file.playlistDetails.side || "Select a file"}}
                        //        button.btn.btn-xs.btn-warning(ng-if="file.playlistDetails.side",
                        //        ng-click="removeLinkFile(file,'side')") X
                        //    span(ng-show="asset.showAssets.playlist.layout != '2a' && asset.showAssets.playlist.layout != '2b' && asset.showAssets.playlist.layout != '2c' && asset.showAssets.playlist.layout != '2d'")
                        //        button.btn.btn-xs.btn-info(ng-click="linkFile(file.playlistDetails,'bottom')")
                        //            span Bottom Zone: {{file.playlistDetails.bottom || "Select a file"}}
                        //        button.btn.btn-xs.btn-warning(ng-if="file.playlistDetails.bottom",
                        //                            ng-click="removeLinkFile(file,'bottom')") X


        li.list-group-item(ng-if="!asset.showAssets.assets.length")
            h4.text-danger(translate="translate") Nothing to show, Please Drag Assets to this box


