.row.height100.overflow-auto
    .panel.panel-info
        .panel-heading
            .row
                .col-xs-10
                    h4 Available Licenses in the server
                .col-xs-2
                    button.btn.btn-success.pull-right
                        nodeims-file-upload(post-path='api/licensefiles',
                        onstart='upload.onstart()',
                        ondone='upload.ondone(status,msg)',
                        onerror='upload.onerror(status,msg)')
                        strong(style="color:white;") Upload


        .panel-body(ng-show='savedFiles.length == 0')
                | Please register the player ID
                | at pisignage.com to generate the license files.Then either save the license file from the email or download
                | at pisignage.com/subscriptions.<br><br>
                | By uploading license files to your local server, they are downloaded to players automatically.
        small.alert.alert-danger(ng-show='statusMsg') {{statusMsg}}
        ul.list-group
            li.list-group-item(ng-repeat='file in savedFiles |  filter: searchLicense')
                p {{file}}
                    button.btn.btn-link.btn-sm.pull-right(ng-click='deleteEntry(file)')
                        i.fa.fa-close.text-danger

    .panel.panel-info
        .panel-heading
            h4(translate) Installation Settings
        .panel-body
            form.form-horizontal(role='form', name='settingsForm')
                .form-group
                    label.col-xs-4.control-label(for="user",translate) username at pisignage.com
                    div.col-xs-4
                        .input-group
                            input.form-control(type='text', name='user', ng-model='settings.installation', required='')
                            span.input-group-btn
                                a.btn.btn-success(type="button",ng-click='saveSettings()',
                                                ng-disabled="!settingsForm.user.$dirty") SAVE
                        small.text-danger {{loadMsg}}
                .form-group
                    .checkbox
                        label.col-xs-8.col-xs-offset-4
                            input(type='checkbox',id="log", name='checkbox', ng-model='settings.assetLogEnable', ng-change="saveSettings()")
                            span(translate) Enable Log for Files Play Statistics
                .form-group
                    .checkbox
                        label.col-xs-8.col-xs-offset-4
                            input(type='checkbox',id="layout", name='checkbox', ng-model='settings.newLayoutsEnable', ng-change="saveSettings()")
                            span(translate) Enable new Layouts 3c,3d,4c,4d
                            br
                            strong.text-danger(translate) WARNING: ALL players in the GROUP should be of version >= 1.2.2

    .panel.panel-info
        .panel-heading
            h4 Set Username and Password for Download Access
        .panel-body
            form.form-horizontal(role='form', name='downloadAccessForm')
                .form-group
                    label.col-xs-4.control-label(for="user",translate) Username
                    div.col-xs-4
                        input.form-control(type='text', name='user', ng-model='settings.authCredentials.user', required='')
                .form-group
                    label.col-xs-4.control-label(for="password",translate) Password
                    div.col-xs-4
                        input.form-control.col-xs-5(type='password', name='password', ng-model='settings.authCredentials.password', required='')
                    div.col-xs-4
                        button.btn.btn-success(type='submit', ng-click='saveSettings()',
                        ng-disabled='downloadAccessForm.$invalid',translate)  Save
                p.text-danger(ng-show='!downloadAccessForm.$dirty') {{confirmMsg}}

