.modal-header
    h4 Select Display Orientation and Resolution
.modal-body.overflow-auto
    form(role="form", name="formdisplay")
        .form-group.row
            .col-sm-4.text-right
                .radio
                    label.text-muted
                        small Resolution
            .col-sm-4
                .radio
                    label
                        input(type="radio",ng-model="group.selectedGroup.resolution",ng-value="resolutions[0].value")
                        small {{resolutions[0].name}}
            .col-sm-4
                .radio
                    label
                        input(type="radio",ng-model="group.selectedGroup.resolution",ng-value="resolutions[1].value")
                        small {{resolutions[1].name}}
            .col-sm-4.col-sm-offset-4
                .radio
                    label
                        input(type="radio",ng-model="group.selectedGroup.resolution",ng-value="resolutions[2].value")
                        small {{resolutions[2].name}}
        .form-group.row
            .col-sm-4.text-right
                .radio
                    label.text-muted: small TV Orientation
            .col-sm-4
                .radio
                    label
                        input(type="radio",ng-model="group.selectedGroup.orientation",ng-value="orientations[0].value")
                        small {{orientations[0].name}}
            .col-sm-4
                .radio(ng-repeat="type in orientations", ng-if="$index > 0")
                    label
                        input(type="radio",ng-model="group.selectedGroup.orientation",ng-value="type.value")
                        small {{type.name}}
        .form-group.row
            .col-sm-4.text-right
                .radio
                    label.text-muted
                        small Animation
            .col-sm-2
                .radio
                    label
                        input(type="radio",ng-model="group.selectedGroup.animationEnable",
                                    ng-change='group.selectedGroup.animationType = null;',ng-value="false")
                        small Disable
                .radio
                    label
                        input(type="radio",ng-model="group.selectedGroup.animationType",
                                    ng-change='group.selectedGroup.animationEnable = true;',value="blend")
                        small.text-primary Blend
            .col-sm-3
                .radio
                    label
                        input(type="radio",ng-model="group.selectedGroup.animationType",
                                    ng-change='group.selectedGroup.animationEnable = true;',value="right")
                        small Slide right
                .radio
                    label
                        input(type="radio",ng-model="group.selectedGroup.animationType",
                                    ng-change='group.selectedGroup.animationEnable = true;',value="left")
                        small Slide left
            .col-sm-3
                .radio
                    label
                        input(type="radio",ng-model="group.selectedGroup.animationType",
                                    ng-change='group.selectedGroup.animationEnable = true;',value="up")
                        small Slide up
                .radio
                    label
                        input(type="radio",ng-model="group.selectedGroup.animationType",
                                    ng-change='group.selectedGroup.animationEnable = true;',value="down")
                        small Slide down
        hr
        .form-group.row
            .col-xs-4.text-right
                .radio
                    label.text-muted: small Screen Background
            .col-xs-3
                .input-group.input-group-sm
                    input.form-control(type='color',ng-model='group.selectedGroup.signageBackgroundColor')
                    small.input-group-addon {{group.selectedGroup.signageBackgroundColor}}
            .col-sm-2.col-sm-offset-1
                .radio(title="{{'Default volume output is 100%' }}")
                    label.text-muted: span( title="needs v1.7.0+") Volume(%)
            .col-sm-2
                input.form-control(type='number',min=0,max=100,ng-model='group.selectedGroup.omxVolume')

        .form-group.row
            .col-xs-4.text-right
                .radio
                    label.text-muted: small Display a Logo
            .col-xs-4
                button.btn.btn-sm.btn-link(ng-click="showFileList()")
                    small {{group.selectedGroup.logo || "Select a png image from Assets"}}
                button.btn.btn-xs.btn-warning(ng-if="group.selectedGroup.logo",ng-click="group.selectedGroup.logo=null") X
            .col-xs-2
                .form-group
                    input.input-sm.form-control(type='text',placeholder="x pos",ng-model="group.selectedGroup.logox")
            .col-xs-2
                .form-group
                    input.input-sm.form-control(type='text',placeholder="y pos",ng-model="group.selectedGroup.logoy")

        .form-group.row
            .col-sm-4.text-right
                .checkbox
                    label.text-muted: small Display Clock
            .col-sm-2
                .checkbox
                    label
                        input(type='checkbox',name='show_clock', ng-model='group.selectedGroup.showClock.enable')
                        small Show
            .col-sm-2(ng-show='group.selectedGroup.showClock.enable')
                .radio
                    label
                        input(type="radio",ng-model="group.selectedGroup.showClock.position",value="top")
                        small() Top
                .radio
                    label
                        input(type="radio",ng-model="group.selectedGroup.showClock.position",value="bottom")
                        small() Bottom
            .col-sm-2(ng-show='group.selectedGroup.showClock.enable')
                .radio
                    label
                        input(type="radio",ng-model="group.selectedGroup.showClock.format",value="12")
                        small() 12 hr
                .radio
                    label
                        input(type="radio",ng-model="group.selectedGroup.showClock.format",value="24")
                        small() 24 hr
            .col-sm-2(ng-show='group.selectedGroup.showClock.enable')
                .radio
                    label
                        input(type="radio",ng-model="group.selectedGroup.showClock.format",value="12d")
                        small() date+12h
                .radio
                    label
                        input(type="radio",ng-model="group.selectedGroup.showClock.format",value="24d")
                        small() date+24h

        hr
        .form-group.row
            .col-sm-4.text-right
                .radio
                    label.text-muted
                        small Fit image
            .col-sm-2
                .radio
                    label
                        input(type='radio', ng-model='group.selectedGroup.imageSize',ng-value="0")
                        small Actual
                .radio
                    label
                        input(type='radio', ng-model='group.selectedGroup.imageSize',ng-value="1")
                        small Letterbox
                .radio
                    label
                        input(type='radio', ng-model='group.selectedGroup.imageSize',ng-value="2")
                        small Stretched
            .col-sm-4
                .checkbox
                    label
                        small Reload link URLs each time<br>(appends ?ts in chromeapp)
            .col-sm-2
                .checkbox
                    label
                        input(type='checkbox',name='reload_checkbox', ng-model='group.selectedGroup.urlReloadDisable',
                        ng-true-value="false",
                        ng-false-value="true",
                        ng-checked="group.selectedGroup.urlReloadDisable !== true"
                        )
                        small Enable


        .form-group.row
            .col-sm-4.text-right
                .radio
                    label.text-muted
                        small Fit video
            .col-sm-2
                .radio
                    label
                        input(type='radio',ng-model='group.selectedGroup.videoSize',ng-value="1")
                        small Letterbox
                .radio
                    label
                        input(type='radio',ng-model='group.selectedGroup.videoSize',ng-value="2")
                        small Stretched
            .col-sm-4.text-right
                small Stop video every seconds to show adverts (0 to disable)
            .col-sm-2
                input.input-sm.form-control(type='number',placeholder="secs",ng-model='group.timeToStopVideo')

        hr

        .form-group.row
            .col-sm-4.text-right
                .radio
                    label.text-muted
                        small Schedule Display OFF
            .col-sm-4
                .checkbox
                    label
                        input(type='checkbox',name='sleep_checkbox', ng-model='group.selectedGroup.sleep.enable')
                        small Enable
        .form-group.row(ng-show='group.selectedGroup.sleep.enable')
            .col-sm-4.col-sm-offset-4
                label
                    small ON at
                    input.form-control(type='time',ng-model="group.selectedGroup.sleep.ontimeObj")
            .col-sm-4
                label
                    small OFF at
                    input.form-control(type='time',ng-model="group.selectedGroup.sleep.offtimeObj")
            .col-sm-10.col-sm-offset-2
                small.text-info For finer control use TV_OFF playlist under group scheduling

        hr
        .form-group.row
            .col-sm-4.text-right
                .radio
                    label.text-muted
                        small Optional daily reboot
            .col-sm-2
                .checkbox
                    label
                        input(type='checkbox',name='reboot_checkbox', ng-model='group.selectedGroup.reboot.enable')
                        small enable
            .col-sm-2.text-right
                .radio
                    label.text-muted
                        small.text-muted(ng-show="group.selectedGroup.reboot.enable") at
            .col-sm-4
                .checkbox
                    label
                        input.input-sm.form-control(ng-show='group.selectedGroup.reboot.enable',type='time',ng-model="group.selectedGroup.reboot.time")

        hr
        .form-group.row
            .col-sm-4.text-right
                .radio
                    label.text-muted
                        small Kiosk Menu
            .col-sm-2
                .checkbox
                    label
                        input(type='checkbox',name='kioskui_checkbox', ng-model='group.selectedGroup.kioskUi.enable')
                        small Enable
            .col-sm-6(ng-show='group.selectedGroup.kioskUi.enable')
                .input-group.input-group-sm
                    small.input-group-addon URL
                    input.input-sm.form-control(type='text',placeholder="Leave blank for default",ng-model="group.selectedGroup.kioskUi.url")
            .col-sm-5.col-sm-offset-6(ng-show='group.selectedGroup.kioskUi.enable')
                .input-group.input-group-sm
                    small.input-group-addon Inactivitiy timeout
                    input.input-sm.form-control(type='number',placeholder="30 secs",ng-model='group.selectedGroup.kioskUi.timeout')

        hr
        .form-group.row
            .col-sm-4.text-right
                .radio
                    label.text-muted
                        small Video Play
            .col-sm-8
                .checkbox
                    label
                        input(type='checkbox',name='ffmpeg', ng-model='group.selectedGroup.enableMpv')
                        small Use MPV to avoid gap between videos
.modal-footer
    button.btn(ng-click='displayModal.close()') Cancel
    button.btn.btn-danger(ng-click='saveSettings()') OK