.panel.panel-primary(style="margin-bottom:0px;")
    .panel-heading
        h4.text-center Select Display Layout (default 1)
            button.btn.btn-success.pull-right(ng-click="modal.close()") DONE
    .panel-body
        tabset
            tab(heading='Layouts')
                i: small The Display can be divided into multiple zones with each zone playing different content. Video files can be played
                    | only in the main Zone. Select a file in the playlist to play in the main zone,add other zone files to the main file
                    | by clicking zone file button. If there is no file attached to a particular zone, the previous content for that zone
                    | will continue to play.
                ul.list-group
                    li.list-group-item(ng-repeat="(ltype,item) in layouts",ng-class="{'list-group-item-success':playlist.selectedPlaylist.layout == ltype}")
                        .row
                            .col-sm-10.dropdown(dropdown)
                                .radio
                                    label
                                        input(type="radio",value="{{ltype}}",ng-change="saveLayout()",
                                                    ng-disabled="item.disabled",ng-model="playlist.selectedPlaylist.layout")
                                        strong.text-primary {{ltype}}: &nbsp;{{item.title}}
                                        p: small ({{item.description}})
                                button.btn.btn-sm.btn-link.dropdown-toggle(dropdown-toggle,ng-if="ltype.indexOf('custom') === 0")
                                    small.text-muted layout file:&nbsp;
                                    small {{playlist.selectedPlaylist.templateName || "Select a custom_layout*.html file from Assets"}}
                                    i.fa.fa-caret-down
                                ul.dropdown-menu(role="menu",ng-if="ltype.indexOf('custom') === 0")
                                    li(ng-repeat="asset in asset.files | filter:customTemplates")
                                        a(href="#",ng-click="selectTemplate(asset,ltype)") &nbsp;&nbsp;{{asset}}
                            .col-sm-2
                                img(height="40px",ng-src="/app/img/{{ltype}}.png")
            tab(heading='Main Video Window')
                h4 Change Main Zone video window size
                i
                    small This section is for Advanced user only!! Changing any parameter would affect the video display size.
                    | If encountered any problem just click 'Resore Defaults'. The `length` and `width` parameters define the actual window size,
                    | `Left-offset` and `Top-Offset` defines the position of the window across your display.
                    b USE THIS FEATURE CAUTIOUSLY
                form(name="layoutform")
                    .form-group.row
                        .col-sm-2.col-sm-offset-2
                            label.control-label: small Width:
                        .col-sm-2
                            input.form-control(type="text",ng-model='videoWindow.length',required='')
                        .col-sm-2
                            label.control-label: small Height:
                        .col-sm-2
                            input.form-control(type="text",ng-model="videoWindow.width",required='')
                    .form-group.row
                        .col-sm-2.col-sm-offset-2
                            label.control-label: small Left-Offset:
                        .col-sm-2
                            input.form-control(type="text",ng-model="videoWindow.xoffset",required='')
                        .col-sm-2
                            label.control-label: small Top-Offset:
                        .col-sm-2
                            input.form-control(type="text",ng-model="videoWindow.yoffset",required='')
                    .form-group.row
                        .col-sm-6
                            .checkbox
                                label
                                    input(type='checkbox',name='fullscreen_checkbox', ng-model='videoWindow.mainzoneOnly',
                                            ng-true-value="false", ng-false-value="true",
                                            ng-checked="videoWindow.mainzoneOnly !== true")
                                    small.text-muted.pl-5 Use as FULL SCREEN dimensions also(for custom displays)
                    .form-group.row
                        .col-sm-3
                            button.btn.btn-danger(ng-click="setVideoWindow(null)") Restore Defaults
                        .col-sm-3
                            button.btn.btn-info(ng-click="setVideoWindow(videoWindow)",
                            ng-disabled="!layoutform.$valid") Save New Changes
            tab(heading='Side/Bottom Video Window')
                h4 Change video window position for other zones
                i
                    small This section is for custom layouts only !! Changing  Any parameter would affect the video display size in side and bottom zones.

                form(name='sideZoneForm')
                    .alert.alert-info.text-center Side Zone Values
                    .form-group.row
                        .col-sm-2.col-sm-offset-2
                            label.control-label: small Width:
                        .col-sm-2
                            input.form-control(type="text",ng-model='zoneVideoWindow.side.length',required='')
                        .col-sm-2
                            label.control-label: small Height:
                        .col-sm-2
                            input.form-control(type="text",ng-model="zoneVideoWindow.side.width",required='')
                    .form-group.row
                        .col-sm-2.col-sm-offset-2
                            label.control-label: small Left-Offset:
                        .col-sm-2
                            input.form-control(type="text",ng-model="zoneVideoWindow.side.xoffset",required='')
                        .col-sm-2
                            label.control-label: small Top-Offset:
                        .col-sm-2
                            input.form-control(type="text",ng-model="zoneVideoWindow.side.yoffset",required='')
                    .form-group.row
                        .col-sm-6
                            button.btn.btn-danger(ng-click="setZoneVideoWindow('side',null)") Restore Side Zone Defaults
                        .col-sm-6
                            button.btn.btn-info(ng-click="setZoneVideoWindow('side',zoneVideoWindow.side)",
                            ng-disabled="!sideZoneForm.$valid") Save New Changes
                    hr
                form(name='bottomZoneForm')
                    .alert.alert-info.text-center Bottom Zone Values
                    .form-group.row
                        .col-sm-2.col-sm-offset-2
                            label.control-label: small Width:
                        .col-sm-2
                            input.form-control(type="text",ng-model='zoneVideoWindow.bottom.length',required='')
                        .col-sm-2
                            label.control-label: small Height:
                        .col-sm-2
                            input.form-control(type="text",ng-model="zoneVideoWindow.bottom.width",required='')
                    .form-group.row
                        .col-sm-2.col-sm-offset-2
                            label.control-label: small Left-Offset:
                        .col-sm-2
                            input.form-control(type="text",ng-model="zoneVideoWindow.bottom.xoffset",required='')
                        .col-sm-2
                            label.control-label: small Top-Offset:
                        .col-sm-2
                            input.form-control(type="text",ng-model="zoneVideoWindow.bottom.yoffset",required='')
                    .form-group.row
                        .col-sm-6
                            button.btn.btn-danger(ng-click="setZoneVideoWindow('bottom',null)") Restore Bottom Zone Defaults
                        .col-sm-6
                            button.btn.btn-info(ng-click="setZoneVideoWindow('bottom',zoneVideoWindow.bottom)",
                            ng-disabled="!bottomZoneForm.$valid") Save New Changes
